@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
  font-family: 'Lexend Mega', sans-serif;

li {
  font-family:'Reggae One', cursive;
}

ul ul {
  list-style-type: square;
}

#ingredients li { 
  font-family: Arial;
}



#equipment li:nth-child(3) {
  color: red;
}
